* {
    box-sizing: border-box;
}

body {
    background-color: navy;
    margin: 0;
    color: gold;
    font-family: 'Shantell Sans', sans-serif;
    /* font-family: 'Caveat', sans-serif; */
    font-size: 1.25rem;
}

main {
    background-color: darkblue;
    /* height: calc(100vh - 1.25rem); */
    height: 100vh;
    margin: 0 auto;
    padding: 0.625rem;
}

/* div {
    border: 1px solid teal;
} */

.mensagem {
    font-size: 3rem;
}

.box-opcoes {
    margin: 1rem auto;
    text-align: center;
}

#escolha-nums {
    display: none;
}

.botao {
    font-size: 1.5rem;
    background-color: transparent;
    padding: 0.625rem;
    cursor: pointer;
    font-family: 'Shantell Sans', sans-serif;
}

.botao-std {
    color: red;
    border: 2px solid red;
}

.botao-std:hover {
    background-color: red;
    color: whitesmoke;
}

.botao-pi {
    width: 10rem;
    height: 10rem;
    font-size: 3rem;
}

.botao-num {
    width: 6.5rem;
    height: 6.5rem;
    font-size: 4rem;
    margin: 0.625rem;
}

.botao-acao {
    color: gold;
    background-color: transparent;
    padding: 0.625rem;
    font-size: 1.5rem;
    border: 2px solid gold;
    font-family: 'Shantell Sans', sans-serif;
    cursor: pointer;
}

.botao-acao:hover {
    background-color: gold;
    color: #333;
}

.botao-jogar-novamente {
    display: none;
}

#btn-jogar, #btn-jogar-novamente {
    margin: 0 auto;
}

.desabilitado {
    color: gray;
    border: 2px solid gray;
    cursor: default;
}

.selecionado {
    color: #333;
    background-color: gold;
    border: 2px solid gold;
}

.resultado {
    /* border: 1px solid lime; */
    display: none;
}

.resultado-sup {
    /* border: 1px solid orange; */
    display: flex;
    justify-content: space-between;
}

.escolha {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    /* border: 1px solid magenta; */
    color: midnightblue;
    text-align: center;
}

#escolha-pi {
    background-color: lightblue;
}

#escolha-nu {
    background-color: lightyellow;
}

#escolha-nc {
    background-color: lightpink;
}

.numero-exibicao {
    height: 110px;
    font-size: 5rem;
}

.texto-exibicao {
    font-size: 2rem;
    height: 110px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
}

.centralizado {
    text-align: center;
}

.vencedor {
    font-weight: 500;
    text-align: center;
    font-size: 2.5rem;
}

.voce-venceu {
    color: lightgreen;
}

.voce-perdeu {
    color: coral;
}

@media screen and (min-width: 768px) {
    main {
        width: 500px;
    }
}