* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: navy;
    color: gold;
    font-family: 'Shantell Sans', sans-serif;
    font-size: 1.25rem;
}

main {
    /* border: 1px solid magenta; */
    /* height: calc(100vh - 1.25rem); */
    height: 100vh;
    margin: 0 auto;
    padding: 0.625rem;
}

.mensagem {
    font-size: 3rem;
}

.box-opcoes {
    margin: 1rem auto;
    text-align: center;
}

#escolha-nums {
    display: none;
}

.botao {
    font-size: 1.5rem;
    background-color: transparent;
    padding: 0.625rem;
    cursor: pointer;
    font-family: 'Shantell Sans', sans-serif;
}

.botao-std {
    color: red;
    border: 2px solid red;
}

.botao-std:hover {
    background-color: red;
    color: whitesmoke;
}

.botao-pi {
    width: 10rem;
}

.botao-num {
    width: 3.5rem;
}

.botao-acao {
    color: gold;
    background-color: transparent;
    padding: 0.625rem;
    font-size: 1.5rem;
    border: 2px solid gold;
    font-family: 'Shantell Sans', sans-serif;
    cursor: pointer;
}

.botao-acao:hover {
    background-color: gold;
    color: #333;
}

.botao-jogar-novamente {
    display: none;
}

#btn-jogar, #btn-jogar-novamente {
    margin: 0 auto;
}

.desabilitado {
    color: gray;
    border: 2px solid gray;
    cursor: default;
}

.selecionado {
    color: #333;
    background-color: gold;
    border: 2px solid gold;
}

.resultado {
    display: none;
}

.centralizado {
    text-align: center;
}

.vencedor {
    font-weight: 500;
    text-align: center;
    font-size: 2.5rem;
}